<%- include('../partials/header') %>
  <div id="flight-table">
    <table id="list">
        <thead>
          <tr>
            <th>Airline</th>
            <th>Flight No.</th>
            <th>Departs</th>
            <th>Airport</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% flights.forEach(function(f) { %>
            <tr>
              <td><%= f.airline %></td>
              <td><%= f.flightNum %></td>
              <td><%= f.departs %></td>
              <td><%= f.airport %></td>
              <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
            </tr>
          <% }); %>
        </tbody>
      </table> 
    </div>
<%- include('../partials/footer') %>